
<img src="assets/amanet/amanet.jpeg" alt="claudius-gold-coins-amanet" class="amanet-image"/>
<div class="container">
    <div class="left">
        <img src="assets/amanet/lingou.jpg" alt="claudius-gold-coins-lingou" class="lingou-image" />
    </div>
    <div class="right">
        <h2>
            Claudius Gold Coins & Amanet
        </h2>
        <p>
            Claudius Gold Coins & Amanet Deva va ofera imprumuturi financiare garantate cu aur. Punctul de lucru este in Deva, strada 22 Decembrie, bloc 4, scara D, parter.
        </p>
        <p>
            Tranzacțiile financiare se desfășoară la punctul de lucru. Se desfășoară într-un mediu civilizat care oferă siguranță și seriozitate, din partea noastră pentru clienții care ne trec pragul.
        </p>
        <p>
            Preturile de achizitie pentru bijuterii, lingouri sau monede se negociaza. Negocierea este in functie de puritatea aurului, calitatea bijuteriilor sau gradul de uzura al acestora.
        </p>    
        <h3>
            Comision
        </h3>
        
        <div class="comision">
            <p>
                <b>-> 10'000 lei</b> - 300 lei comision / 30 zile
            </p>
            <p>
                <b>-> 5'000 lei</b> - 180 lei comision / 30 zile                
            </p>
            <p>
                <b>-> 1'000 lei</b> - 36 lei comision / 30 zile
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div>
        @for (number of numbers; track $index) {
           
                <img class="amanet-product" src="assets/amanet/products/{{number}}.jpg" alt="claudius-gold-coins-amanet-{{number}}"/>     
               
        }
    </div>
</div>
<div class="container">
    <div class="left">
    <img class="amanet-main-car" src="assets/amanet/car1.jpg" alt="claudius-gold-coins-masina"/>
    </div>
    <div  class="right">
    <p>
        La <b>Claudius Gold Coins & Amanet</b> amanetam si motociclete, autoturisme sau camioane care se afla intr-o stare buna de functionare.    
    </p>
    <p>
        Pretul este stabilit in functie de gradul de uzura al masinii, km parcursi si anul de fabricatie.
    </p>
    <p>
        <b>Luam autoturisme in regim de amanet!</b>
    </p>
    <p>
        Comision  <b>0,2%/zi</b>
    </p>
    <div class="container">
        <img class="amanet-product" src="assets/amanet/car2.jpg" alt="claudius-gold-coins-amanet-2"/>     
        <img class="amanet-product" src="assets/amanet/car3.jpg" alt="claudius-gold-coins-amanet-3"/>     
        <img class="amanet-product" src="assets/amanet/car4.jpg" alt="claudius-gold-coins-amanet-4"/>     
    </div>
    </div>
</div>
<div class="center">
    <a href="/contact">
    <button class="contact-button">
        Contactează-ne!
    </button>
    </a>
</div>
<div class="amanet-image-bottom-container">
    <img class="amanet-bottom" src="assets/amanet/amanet.jpeg" alt="claudius-gold-coins-amanet"/>
</div>
<div class="amanet-info">
    <h3>Amanet Claudius Gold</h3>
    <p>
        Atunci cand stai prost cu banii, dar nu ai vrea sa faci imprumut la banci, <b>Amanet Claudius Gold</b> te ajută.
    </p>
    <p>
        Nu este o rusine sa admiti ca treci printr-o perioada mai grea din punct de vedere financiar. Fiecare poate avea un moment de cumpana in care simte ca nu se mai ajunge cu banii. Oricat de mult ar castiga nu reuseste sa-si plateasca facturile. Sau ca ceea ce isi doreste nu poate fi cumparat cu suma de care dispun in momentul repectiv.
    </p>
    <p>
        Aceste solutii, insa, sunt doar unele de moment, garantarea facandu-se cu un bun de valoare. Avem astfel, cunoscut azi, <b>amanet bijuterii, amanet autoturisme</b> sau alte obiecte. Dobanda, mult mai mica decat cea a institutiilor bancare. Este calculata atat in functie de valoare sumei imprumutate, cat si de perioada pentru care doresti sa ramana obiectul amanetat. 
    </p>
    <p>
        In primul rand, exista riscul de a pierde bunul in cazul in care, la data stabilita, nu restitui suma de bani. Poti insa sa ceri o amanare a acesteia date. Casa de amanet primește chiar și obiecte de arta si numismatica sau chiar automobile.
    </p>
    <p>
        Daca la o prima vedere totul pare extrem de simplu trebuie, totusi, avute in vedere cateva reguli. Nu toate persoanele pot cere ajutorul unor case de amanet, minorii, spre exemplu, nu pot face acest lucru. 
    </p>
    <p>
        In al doilea rand, in cazul in care patronul nu considera ca personalitatea, aspectul sau comportamentul tau nu se preteaza, acestia nu accepta sa iti amaneteze bunul. Asta pentru a-si pastra reputatia si pentru a nu intampina probleme in timp. 
    </p>
    <h3>Amanet Claudius Gold</h3>
    <P>
        Un alt lucru de care trebuie sa tinem cont atunci cand luam decizia sa amanetam un anumit obiect, fie el o bratara de aur sau un telefon mobil, este acela ca in cadrul “trocului” nu exista un evaluator care sa aprecieze ceea ce doresti sa amanetezi la adevarata lui valoare. 
    </P>
    <p>
        Totodata, singurul care decide daca sa accepte oferta sau nu este cel care merge acolo cu initiativa de a amaneta. 
    </p>
    <p>
        Din pacate, unii raspund afirmativ ofertelor, chiar daca acestea nu sunt dintre cele mai corecte. Statisticile arata ca pentru o bijuterie se ofera aproximativ 85% din valoare. Pentru un telefon sau un alt electronic, oferta este de 40%. 
    </p>
    <p>
        Toate acestea depind in functie de caratele aurului, daca vorbim despre bijuterii, despre modelul telefonului, despre starea in care se afla acestea. Despre cererea pe piata si, in functie de fiecare casa de amanet in parte, despre propriile protocoale.
    </p>
    <p>
        Fiecare casa de amanet are propria politica in ceea ce priveste comisioanele practicate. Inainte de a amaneta trebuie sa fii sigur ca poti, la data stabilita, sa scoti obiectul amanetat sa nu il pierzi. Aceste perioade variaza in functie de cel care amaneteaza si de obiectul amanetat. Se pot intinde de la cateva zile, pana la cateva luni.
    </p>
    <p>
        Trebuie avut in vedere faptul ca atat timp cat obiectul va sta la casa de amanet, aceasta va percepe un comision zilnic care se adauga sumei pentru care ai acceptat sa-ti amanetezi bunul.
    </p>
    <p>
        Asa cum am reamintit mai sus, este necesar sa stiti exact perioada pentru care doriti sa lasati obiectul la casa de amanet. In functie de suma primita in schimbul lui, comisionul poate creste sau poate scade. De obicei, acestea sunt invers proportionale: cu cat suma este mai mare, cu atat comisionul este mai mic.
    </p>
    <p>
        In final, se incheie un contract intre ambele parti. Daca cel ce a amanetat nu reuseste sa ramburseze creditul in perioada stabilita initial, acesta poate prelungi contractul. Comisioanele pot ramane aceleasi sau sa creasca. 
    </p>
    <p>
        Daca nici dupa cea de a doua perioada nu ai reusit sa dai inapoi suma imprumutata, cel mai probabil obiectul pe care l-ai amanetat va ramane in custodia casei de amanet, iar tu nu vei putea sa-l mai recuperezi niciodata.
    </p>
    <p>
        Se incheie un contract intre parti, pe o perioada care poate incepe de la cateva zile si se poate intinde pana la o luna. Daca, dupa perioada contractuala, nu ai rambursat creditul, ai posibilitatea de prelungire, dar trebuie sa achiti o suma care reprezinta comisionul. Informatiile pietei arata ca aceste comisioane pot varia intre 0,4% si 1, 3%, in functie de suma imprumutata.
    </p>
</div>
<div class="amanet-image-bottom-container">
    <img class="bottom-money" src="assets/amanet/money.jpg" alt="claudius-gold-coins-money"/>
</div>

