<div>
<h1>TERMENI ȘI CONDIȚII</h1>
<ol>
    <li>
        DEFINIȚII ȘI TERMENI
    </li>
    <p>
        CLAUDIUS GOLD COINS  – Societatea CLAUDIUS GOLD COINS SRL, cu sediul social în Str. Iosif Vulcan, nr. 158, mun. Deva,  Jud. Hunedoara, înregistrată la Registrul Comerțului sub nr. J20/439/2020, cod fiscal RO 42538472.
    </p>
    <p>
        Vânzător – CLAUDIUS GOLD COINS SRL – www.claudiusgoldcoins.com și subdomeniile acestuia
    </p>
    <p>
        Cumpărător- persoană fizică/ persoană juridică sau orice entitate juridică care își face cont în site și emite o comandă.
    </p>
    <p>
        Utilizator – orice persoană fizică/juridică înregistrată pe Site , care, prin finalizarea procesului de creare a Contului, și-a dat acordul cu privire la clauzele specifice site-ului din secțiunea Termeni și Condiții Generale.
    </p>
    <p>
        Client – persoană fizică / persoană juridică care are sau obține acces la CONȚINUT, prin orice mijloc de comunicare pus la dispoziție de către CLAUDIUS GOLD COINS SRL(electronic, telefonic, etc) sau în baza unui acord de utilizare existent între CLAUDIUS GOLD COINS  SRL și acesta și care necesită crearea și utilizarea unui CONT.
    </p>
    <p>
        Bunuri și Servicii – orice produs sau serviciu, inclusiv documentele și serviciile menționate în Comandă, care urmează a fi furnizate de către Vânzător, Cumpărătorului ca urmare a Contractului încheiat.
    </p>
    <p>
        Contract - reprezintă contractul la distanță conform definiției cuprinse în OUG 34 din 4 iunie 2014, încheiat între Vânzător și Cumpărător, fără prezența fizică simultană a Vânzătorului și a Cumpărătorului.
    </p>
    <p>
        Conținut
    </p>
    <div>
        <ul>
            <li>
                toate informațiile de pe Site care pot fi vizitate, vizualizate sau altfel accesate prin utilizarea unui echipament  electronic;
            </li>
            <li>
                conținutul oricărui e-mail trimis Cumpărătorilor de către Vânzător prin mijloace electronice și/sau orice alt mijloc de comunicare disponibil;
            </li>
            <li>
                orice informație comunicată prin orice mijloc de către un angajat/colaborator al Vânzătorului, Cumpărătorului, conform informațiilor de contactare, specificate sau nu de către acesta;
            </li>
            <li>
                informații legate de Bunurile și/sau Serviciile și/sau tarifele practicate de Vânzător într-o anumită perioadă;
            </li>
            <li>
                informații legate de Bunurile și/sau Serviciile și/sau tarifele practicate de către un terț cu care Vânzătorul are încheiate contracte de parteneriat, într-o anumită perioadă;
            </li>
            <li>
                date referitoare la Vânzător, sau alte date privilegiate ale acestuia.
            </li>
        </ul>
    </div>
    <p>
        Drepturi de proprietate Intelectuală (în cele ce urmează DPI) - toate drepturile materiale cum ar fi know-how, dreptul de autor și drepturi în natură de autor, drepturile de bază de date, drepturi de proiectare, drepturi de model, patente, mărci înregistrate și înregistrări ale numelor de domenii pentru oricare din cele de mai sus.
    </p>
    <p>
        Document – prezentele Termene și Condiții.
    </p>
    <p>
        Tranzacție – încasarea unei sume rezultată din vânzarea unui Bun și/sau Serviciu de către CLAUDIUS GOLD COINS , Cumpărătorului, prin utilizarea serviciilor procesatorului de carduri agreat de către Vânzător, indiferent de modalitatea de livrare.
    </p>
    <p>
        Specificații - toate specificațiile și/sau descrierile Bunurilor și Serviciilor așa cum sunt precizate în Comandă.
    </p>
    <li>
        GENERAL
    </li>
    <p>
        Plasarea unei comenzi către CLAUDIUS GOLD COINS  S.R.L. reprezintă acordul dumneavoastră cu termenii și condițiile din prezentul Document.
    </p>
    <p>
        Informațiile furnizate către CLAUDIUS GOLD COINS  S.R.L. sunt folosite numai în scopul pentru care au fost introduse (efectuarea comenzilor), conform legilor în vigoare. CLAUDIUS GOLD COINS  S.R.L. nu furnizează adresa dumneavoastră de e-mail unor terți, nu încureajază spam-ul și nu face publice datele furnizate de clienții săi fără acordul explicit al acestora. Orice utilizator are posibilitatea să șteargă din baza de date adresa de e-mail furnizată.​
    </p>
    <p>
        CLAUDIUS GOLD COINS  S.R.L. își rezervă dreptul de refuza colaborarea cu clienții ce manifestă comportament și limbaj neadecvat (agresiv, licențios etc.) sau au în istoricul comenzilor livrîri refuzate.
    </p>
    <p>
        CLAUDIUS GOLD COINS  S.R.L. își rezervă dreptul de a modifica atât conținutul, cât și structura site-ului în orice moment și fără nevoie de preaviz.
    </p>
    <p>
        Ne rezervăm dreptul de a modifica discounturile, reducerile și promoțiile fără o notificare prealabilă.
    </p>
    <p>
        În cazul în care un produs este listat cu un preț incorect sau cu informații incorecte din cauza unor erori tipografice sau erori în stabilirea prețurilor sau informațiile despre produs primite de la furnizori, ne rezervăm dreptul de a refuza sau anula orice comandă plasată pentru produsele ce prezintă eroare. Vom avea dreptul de a refuza sau anula orice comandă chiar dacă aceasta a fost platită în prealabil. În acest caz banii vor fi returnați în cel mai scurt timp.
    </p>
    <li>
        POLITICA DE VÂNZARE ONLINE
    </li>
</ol>
</div>