<div role="main">
  <h1>TERMENI ȘI CONDIȚII</h1>
  <ol>
    <li class="chapter-title" id="definitions">DEFINIȚII ȘI TERMENI</li>
    <p>
      CLAUDIUS GOLD COINS – Societatea <b>CLAUDIUS GOLD COINS S.R.L.</b>, cu
      sediul social în Str. Iosif Vulcan, nr. 158, mun. Deva, Jud. Hunedoara,
      înregistrată la Registrul Comerțului sub nr. J20/439/2020, cod fiscal RO
      42538472.
    </p>
    <p>
      Vânzător – <b>CLAUDIUS GOLD COINS S.R.L.</b> –
      <a
        href="https://www.claudiusgoldcoins.com"
        aria-label="Visit Claudius Gold Coins website"
        >www.claudiusgoldcoins.com</a
      >
      și subdomeniile acestuia
    </p>
    <p>
      Cumpărător- persoană fizică/ persoană juridică sau orice entitate juridică
      care își face cont în site și emite o comandă.
    </p>
    <p>
      Utilizator – orice persoană fizică/juridică înregistrată pe Site, care,
      prin finalizarea procesului de creare a Contului, și-a dat acordul cu
      privire la clauzele specifice site-ului din secțiunea Termeni și Condiții
      Generale.
    </p>
    <p>
      Client – persoană fizică / persoană juridică care are sau obține acces la
      CONȚINUT, prin orice mijloc de comunicare pus la dispoziție de către
      <b>CLAUDIUS GOLD COINS S.R.L.</b> (electronic, telefonic, etc) sau în baza
      unui acord de utilizare existent între
      <b>CLAUDIUS GOLD COINS S.R.L.</b> și acesta și care necesită crearea și
      utilizarea unui CONT.
    </p>
    <p>
      Bunuri și Servicii – orice produs sau serviciu, inclusiv documentele și
      serviciile menționate în Comandă, care urmează a fi furnizate de către
      Vânzător, Cumpărătorului ca urmare a Contractului încheiat.
    </p>
    <p>
      Contract - reprezintă contractul la distanță conform definiției cuprinse
      în OUG 34 din 4 iunie 2014, încheiat între Vânzător și Cumpărător, fără
      prezența fizică simultană a Vânzătorului și a Cumpărătorului.
    </p>
    <p>Conținut</p>
    <div>
      <ul>
        <li>
          toate informațiile de pe Site care pot fi vizitate, vizualizate sau
          altfel accesate prin utilizarea unui echipament electronic;
        </li>
        <li>
          conținutul oricărui e-mail trimis Cumpărătorilor de către Vânzător
          prin mijloace electronice și/sau orice alt mijloc de comunicare
          disponibil;
        </li>
        <li>
          orice informație comunicată prin orice mijloc de către un
          angajat/colaborator al Vânzătorului, Cumpărătorului, conform
          informațiilor de contactare, specificate sau nu de către acesta;
        </li>
        <li>
          informații legate de Bunurile și/sau Serviciile și/sau tarifele
          practicate de Vânzător într-o anumită perioadă;
        </li>
        <li>
          informații legate de Bunurile și/sau Serviciile și/sau tarifele
          practicate de către un terț cu care Vânzătorul are încheiate contracte
          de parteneriat, într-o anumită perioadă;
        </li>
        <li>
          date referitoare la Vânzător, sau alte date privilegiate ale acestuia.
        </li>
      </ul>
    </div>
    <p>
      Drepturi de proprietate Intelectuală (în cele ce urmează DPI) - toate
      drepturile materiale cum ar fi know-how, dreptul de autor și drepturi în
      natură de autor, drepturile de bază de date, drepturi de proiectare,
      drepturi de model, patente, mărci înregistrate și înregistrări ale numelor
      de domenii pentru oricare din cele de mai sus.
    </p>
    <p>Document – prezentele Termene și Condiții.</p>
    <p>
      Tranzacție – încasarea unei sume rezultată din vânzarea unui Bun și/sau
      Serviciu de către CLAUDIUS GOLD COINS , Cumpărătorului, prin utilizarea
      serviciilor procesatorului de carduri agreat de către Vânzător, indiferent
      de modalitatea de livrare.
    </p>
    <p>
      Specificații - toate specificațiile și/sau descrierile Bunurilor și
      Serviciilor așa cum sunt precizate în Comandă.
    </p>
    <li class="chapter-title">GENERAL</li>
    <p>
      Plasarea unei comenzi către CLAUDIUS GOLD COINS S.R.L. reprezintă acordul
      dumneavoastră cu termenii și condițiile din prezentul Document.
    </p>
    <p>
      Informațiile furnizate către CLAUDIUS GOLD COINS S.R.L. sunt folosite
      numai în scopul pentru care au fost introduse (efectuarea comenzilor),
      conform legilor în vigoare. CLAUDIUS GOLD COINS S.R.L. nu furnizează
      adresa dumneavoastră de e-mail unor terți, nu încureajază spam-ul și nu
      face publice datele furnizate de clienții săi fără acordul explicit al
      acestora. Orice utilizator are posibilitatea să șteargă din baza de date
      adresa de e-mail furnizată.​
    </p>
    <p>
      CLAUDIUS GOLD COINS S.R.L. își rezervă dreptul de refuza colaborarea cu
      clienții ce manifestă comportament și limbaj neadecvat (agresiv, licențios
      etc.) sau au în istoricul comenzilor livrîri refuzate.
    </p>
    <p>
      CLAUDIUS GOLD COINS S.R.L. își rezervă dreptul de a modifica atât
      conținutul, cât și structura site-ului în orice moment și fără nevoie de
      preaviz.
    </p>
    <p>
      Ne rezervăm dreptul de a modifica discounturile, reducerile și promoțiile
      fără o notificare prealabilă.
    </p>
    <p>
      În cazul în care un produs este listat cu un preț incorect sau cu
      informații incorecte din cauza unor erori tipografice sau erori în
      stabilirea prețurilor sau informațiile despre produs primite de la
      furnizori, ne rezervăm dreptul de a refuza sau anula orice comandă plasată
      pentru produsele ce prezintă eroare. Vom avea dreptul de a refuza sau
      anula orice comandă chiar dacă aceasta a fost platită în prealabil. În
      acest caz banii vor fi returnați în cel mai scurt timp.
    </p>
    <li class="chapter-title">POLITICA DE VÂNZARE ONLINE</li>
    <p>
      Accesul în vederea efectuării unei Comenzii îi este permis oricărui
      Client/Cumpărător.
    </p>
    <p>
      Pentru motive justificate CLAUDIUS GOLD COINS SRL își rezervă dreptul de a
      restricționa accesul Clientului/Cumpărătorului în vederea efectuării unei
      Comenzi și/sau la unele din modalitățile de plată acceptate, în cazul în
      care consideră că în baza conduitei sau a activității
      Clientului/Cumpărătorului pe Site, acțiunile acestuia ar putea prejudicia
      în vreun fel CLAUDIUS GOLD COINS SRL. În oricare dintre aceste cazuri,
      Clientul/Cumpărătorul se poate adresa Departamentului de Relații cu
      Clienții al CLAUDIUS GOLD COINS SRL pentru a fi informat cu privire la
      motivele care au condus la aplicarea măsurilor sus menționate.
    </p>
    <p>
      Comunicarea cu Vânzătorul se poate realiza prin interacțiunea directă cu
      acesta sau prin adresele menționate la secțiunea “contact” din Site.
      Vânzătorul are libertatea de a gestiona informațiile primite fără a fi
      nevoit să aducă justificări pentru aceasta.
    </p>
    <p>
      CLAUDIUS GOLD COINS SRL poate publica pe Site informații despre Bunuri
      și/sau Servicii și/sau promoții practicate de către acesta sau de către
      oricare alt terț cu care CLAUDIUS GOLD COINS SRL are incheiate contracte
      de parteneriat, într-o anumită perioadă de timp și în limita stocului
      disponibil.
    </p>
    <p>
      Toate tarifele aferente Bunurilor și/sau Serviciilor prezentate pe Site
      sunt exprimate în lei (RON) și NU includ T.V.A.
    </p>
    <p>
      În cazul plăților online Vânzătorul nu este/nu poate fi făcut responsabil
      pentru niciun alt cost suplimentar suportat de Cumpărător, incluzând dar
      nelimitându-se la comisioane de conversie valutară aplicate de către banca
      emitentă a cardului acestuia, în cazul în care moneda de emitere a
      acestuia diferă de RON. Responsabilitatea pentru această acțiune o poartă
      numai Cumpărătorul.
    </p>
    <p>
      Toate informațiile folosite pentru descrierea Bunurilor și/sau a
      Serviciilor disponibile pe Site (imagini statice / dinamice / prezentări
      multimedia / etc.) nu reprezintă o obligație contractuală din partea
      Vânzătorului, acestea fiind utilizate exclusiv cu titlu de prezentare.
    </p>
    <li class="chapter-title">DOCUMENTE CONTRACTUALE</li>
    <p>
      Prin lansarea unei comenzi electronice, telefonice sau efectuată direct în
      magazinele fizice pe
      <a href="https://www.claudiusgoldcoins.com">www.claudiusgoldcoins.com</a>,
      Cumpărătorul este de acord cu forma de comunicare (telefonic sau e-mail)
      prin care <b>CLAUDIUS GOLD COINS S.R.L.</b> își derulează operațiunile.
    </p>
    <p>Comanda este alcătuită astfel:</p>
    <ol>
      <li>
        Comanda (impreună cu mențiunile clare asupra datelor de livrare și
        facturare) și condițiile sale specifice;
      </li>
      <li>Specificațiile Cumpărătorului (acolo unde este cazul);</li>
    </ol>
    <p>
      Notificarea primită de către Cumpărător, după efectuarea Comenzii are rol
      de informare și nu reprezintă acceptarea Comenzii. Această notificare se
      face electronic (e-mail) sau telefonic.
    </p>
    <p>
      Dacă Vânzătorul confirmă comanda, acest lucru va implica din partea
      Cumpărătorului o acceptare completă a termenilor și condițiilor comenzii.
      Acceptarea comenzii de către Vânzător se consideră finalizată atunci când
      există o confirmare verbală sau electronică din partea Vânzătorului către
      Cumpărător, fără a necesita o confirmare de primire din partea
      Cumpărătorului.
    </p>
    <p>
      Prezentul Contract intră în vigoare la confirmarea comenzii de către
      Vânzător. Confirmarea se face telefonic, electronic sau verbal. Termenii
      și condițiile generale de vânzare vor sta la baza Contractului astfel
      încheiat, în completarea acestora fiind Certificatul de Garanție emis de
      către <b>CLAUDIUS GOLD COINS S.R.L.</b> sau un furnizor al acesteia.
    </p>
    <p>
      Pentru motive justificate, Vânzătorul își rezervă dreptul de a modifica
      cantitatea Bunurilor și/sau Serviciilor din Comandă. Daca modifică
      cantitatea de Bunuri și/sau Servicii din Comandă va anunța Cumpărătorul la
      adresa de e-mail sau la numărul de telefon puse la dispoziția Vânzătorului
      la efectuarea Comenzii și va returna suma achitată.
    </p>
    <p>
      Contractul se consideră încheiat între Vânzător și Cumpărător în momentul
      primirii de către Cumpărător de la Vânzător, prin intermediul postei
      electronice și/sau SMS a notificării de expediere a Comenzii.
    </p>
    <li class="chapter-title">COMANDA</li>
    <p>
      Clientul/Cumpărătorul poate efectua Comenzi pe Site, prin adaugarea
      Bunurilor și/sau Serviciilor dorite în coșul de cumpărături, urmând a
      finaliza Comanda efectuând plata prin una dintre modalitățile indicate
      expres. Odată adăugat în coșul de cumpărături, un Bun și/sau un Serviciu
      este disponibil pentru achiziție în masura în care există stoc disponibil
      pentru aceasta. Adaugarea unui Bun/Serviciu în coșul de cumpărături, în
      lipsa finalizării Comenzii, nu atrage după sine înregistrarea unei
      comenzi, implicit nici rezervarea automată a Bunului/Serviciului.
    </p>
    <p>
      Prin finalizarea Comenzii Cumpărătorul consimte că toate datele furnizate
      de acesta, necesare procesului de cumpărare, sunt corecte, complete și
      adevărate la data plasării Comenzii.
    </p>
    <p>
      Prin finalizarea Comenzii, Cumpărătorul consimte că Vânzătorul poate să îl
      contacteze, prin orice mijloc disponibil / agreat de Vânzător, în orice
      situație în care este necesară contactarea Cumpărătorului.
    </p>
    <p>
      Vânzătorul poate anula Comanda efectuată de către Cumpărător, în urma unei
      notificări prealabile adresate Cumpărătorului, fără nicio obligație
      ulterioară a vreunei părți față de cealaltă sau fără ca vreo parte să
      poată să pretindă celeilalte daune-interese în următoarele cazuri:
    </p>
    <ul>
      <li>
        neacceptarea de către banca emitentă a cardului Cumpărătorului, a
        tranzacției, în cazul plății online;
      </li>
      <li>
        invalidarea tranzacției de către procesatorul de carduri agreat de
        <b>CLAUDIUS GOLD COINS S.R.L.</b>, în cazul plății online;
      </li>
      <li>
        datele furnizate de către Client/Cumpărător, pe Site sunt incomplete
        și/sau incorecte;
      </li>
    </ul>
    <li class="chapter-title">DREPTURI DE PROPRIETATE INTELECTUALĂ</li>
    <p>
      Conținutul site-ului
      <a href="https://www.claudiusgoldcoins.com">www.claudiusgoldcoins.com</a>,
      astfel cum este definit în preambul - texte, imagini, grafică web,
      scripturi, programe, baze de date, precum și materialele ce fac obiectul
      comunicărilor prin email - aparține <b>CLAUDIUS GOLD COINS S.R.L.</b>,
      fiind protejat de legea drepturilor de autor și cea a drepturilor de
      proprietate intelectuală și industrială.
    </p>
    <p>
      Clientului/Cumpărătorului nu îi este permisă copierea, distribuirea,
      publicarea, transferul către terțe părți, modificarea și/sau altfel
      alterarea, utilizarea, legarea la, expunerea, includerea oricărui Conținut
      în orice alt context decât cel original intenționat de
      <b>CLAUDIUS GOLD COINS S.R.L.</b>, includerea oricărui Conținut în afara
      Site-ului, îndepărtarea însemnelor care semnifică dreptul de autor al
      <b>CLAUDIUS GOLD COINS S.R.L.</b> asupra Conținutului precum și
      participarea la transferul, vânzarea, distribuția unor materiale realizate
      prin reproducerea, modificarea sau afișarea Conținutului, decât cu acordul
      scris expres al <b>CLAUDIUS GOLD COINS S.R.L.</b>.
    </p>
    <p>
      Clientul/Cumpărătorul poate copia, transfera și/sau utiliza Conținut numai
      în scopuri personale sau non-comerciale, numai în cazul în care acestea nu
      intră în conflict cu prevederile Documentului.
    </p>
    <p>
      Niciun Conținut transmis către Client sau Cumpărător, prin orice mijloc de
      comunicare (electronic, telefonic, etc) sau dobândit de acesta prin
      accesare, vizitare și/sau vizualizare nu constituie o obligație
      contractuală din partea CLAUDIUS GOLD COINS și/sau al
      angajatului/prepusului <b>CLAUDIUS GOLD COINS S.R.L.</b> care a mijlocit
      transferul de Conținut, în cazul în care aceasta există, față de
      respectivul conținut.
    </p>
    <p>
      Orice încercare de orice natură de modificare a imaginii și informațiilor
      din prezentul site
      <a href="https://www.claudiusgoldcoins.com">www.claudiusgoldcoins.com</a>,
      cu excepția deținătorului său legal - <b>CLAUDIUS GOLD COINS S.R.L.</b>,
      fără acordul prealabil al <b>CLAUDIUS GOLD COINS S.R.L.</b>, dă dreptul
      unilateral și neechivoc că <b>CLAUDIUS GOLD COINS S.R.L.</b> să facă uz de
      toate prerogativele sale de a se adresa instanțelor legal competente
      pentru sancționarea acestor fapte.
    </p>
    <p>
      Este interzisă orice utilizare a Conținutului în alte scopuri decât cele
      permise expres prin prezentul Document sau de acordul de utilizare care îl
      însoțește, în cazul în care acesta există.
    </p>
    <li class="chapter-title">
      POLITICA DE CONFIDENȚIALITATE ȘI PRELUCRARE A DATELOR CU CARACTER PERSONAL
    </li>
    <p>
      <b>CLAUDIUS GOLD COINS S.R.L.</b> certifică faptul că va respecta
      drepturile conferite de Legea nr. 677/2001 pentru protectia persoanelor cu
      privire la prelucrarea datelor cu caracter personal și libera circulație a
      acestor date. CLAUDIUS GOLD COINS respectă Regulamentul UE 2016/679 (GDPR)
      precum și orice altă legislație aplicabilă pe teritoriul României.
    </p>
    <p>
      <b>CLAUDIUS GOLD COINS S.R.L.</b> garantează securitatea și
      confidențialitatea datelor găzduite și transmise prin sistemul său
      informatic. Aceste informații vor putea fi folosite de catre
      <b>CLAUDIUS GOLD COINS S.R.L.</b> în următoarele scopuri:
    </p>
    <ul>
      <li>
        pentru a facilita accesul clientului la serviciile CLAUDIUS GOLD COINS
      </li>
      <li>
        creearea și administrarea contului în cadrul platformei CLAUDIUS GOLD
        COINS
      </li>
      <li>validarea, expedierea și facturarea comenzilor către client</li>
      <li>
        ulterior validării comenzii, pentru transmiterea de informații privind
        produsele, perioadele de livrare, anulări sau alte probleme de orice
        natură referitoare la o comandă sau un contract, la serviciile sau
        produsele achiziționate de către client
      </li>
    </ul>
    <li class="chapter-title">Metode de plata</li>
    <ul>
      <li>Visa</li>
      <li>Mastercard</li>
      <li>Maestro</li>
      <li>Transfer bancar</li>
    </ul>
    <li class="chapter-title">
      POLITICA DE UTILIZARE COOKIE-URI PE WWW.CLAUDIUSGOLDCOINS .COM
    </li>
    <p>
      Această politică se referă la cookie-urile și tehnologiile similare
      folosite după caz, pe site-ul
      <a href="https://www.claudiusgoldcoins.com">www.claudiusgoldcoins.com</a>.
    </p>
    <p>Cookie-urile sunt folosite în următoarele scopuri:</p>
    <ul>
      <li>de funcționare a site-ului</li>
      <li>
        de îmbunătățire a experienței clientului pe site (ex.: conținut adaptat
        preferințelor utilizatorului - categorii de produse și servicii)
      </li>
      <li>
        entru publicitate (ex: măsurarea, optimizarea și caracteristicile de
        analytics - modul cum un utilizator ajunge pe site)
      </li>
    </ul>
    <p>Ce sunt Cookie-urile?</p>
    <p>
      Cookie-urile sunt fișiere de mici dimensiuni, formate de litere și numere,
      deseori codificate. Acestea sunt trimise de un server unui navigator web
      și apoi trimise înapoi (nemodificate) de către navigator, de fiecare dată
      când accesează acel server.
    </p>
    <p>
      Cookie-ul este instalat prin solicitarea emisă de către un web-server unui
      browser (ex: Internet Explorer, Chrome, Mozilla) și este complet “pasiv”
      (nu conține programe software, viruși sau spyware și nu poate accesa
      informațiile de pe hard driverul utilizatorului).
    </p>
    <p>
      ookie-urile sunt folosite pentru autentificare precum și pentru urmărirea
      comportamentului utilizatorilor; aplicații tipice sunt reținerea
      preferințelor utilizatorilor și implementarea sistemului de „coș de
      cumpărături”. Aceste fișiere fac posibilă recunoașterea terminalului
      utilizatorului si prezentarea conținutului într-un mod relevant, adaptat
      preferințelor utilizatorului.
    </p>
    <p>
      Cookie-urile asigură utilizatorilor o experiență plăcută de navigare și
      susțin eforturile <b>CLAUDIUS GOLD COINS S.R.L.</b> pentru a oferi
      servicii confortabile utilizatorilor: ex: – preferințele în materie de
      confidențialitate online și istoric coșul de cumpărături. De asemenea,
      sunt utilizate în pregătirea unor statistici anonime agregate care ajută
      la înțelegerea modalității în care un utilizator beneficiază de
      <a href="https://www.claudiusgoldcoins.com">www.claudiusgoldcoins.com</a>,
      permițând îmbunătățirea structurii și conținutului dar excluzând
      indentificarea personală a utilizatorului.
    </p>
    <p>
      <b>CLAUDIUS GOLD COINS S.R.L.</b> folosește două tipuri de Cookie-uri: per
      sesiune și fixe (fișiere temporare ce rămân în terminalul utilizatorului
      până la terminarea sesiunii sau închiderea aplicației/browser-ului web).
      Fișierele fixe rămân pe terminalul utilizatorului pe o perioadă în
      parametrii cookie-ului sau până sunt șterse manual de utilizator.
    </p>
    <p>
      Pe lângă aceste cookie-uri, <b>CLAUDIUS GOLD COINS S.R.L.</b> folosește și
      cookie-uri de tipul 3rd party, având ca principal scop îmbunătățirea
      experienței clientului pe site. Exemple de 3rd party cookie: *livechat,
      *optin monster, *google analytics, *optimizley sau google optimizer,
      *target2sell, *2performant, *RTB House, *Criteo, *Facebook, *Adwords
      Search, *Adwords Display, *Analytics, folosite ca modalitate de a oferi
      utilizatorului o experiență mai adaptată preferințelor sale. Aceste date
      sunt criptate într-un mod care face imposibil accesul persoanelor
      neautorizate la ele.
    </p>
    <p>
      O vizită pe
      <a href="https://www.claudiusgoldcoins.com">www.claudiusgoldcoins.com</a>
      poate plasa:
    </p>
    <ul>
      <li>Cookie-uri de performanță a site-ului</li>
      <li>Cookie-uri de analiză a vizitatorilor</li>
      <li>Cookie-uri pentru geotargetting</li>
      <li>Cookie-uri de înregistrare</li>
      <li>Cookie-uri pentru publicitate</li>
      <li>Cookie-uri ale furnizorilor de publicitate</li>
    </ul>
    <p>
      În general, o aplicație folosită pentru accesarea paginilor web permite
      salvarea Cookie-urilor pe terminal în mod implicit. Aceste setari pot fi
      schimbate în așa fel încât administrarea automată a Cookie-urilor să fie
      blocată de browser-ul web sau utilizatorul să fie informat de fiecare dată
      cand Cookie-uri sunt trimise către terminalul său. Informații detaliate
      despre posibilitățile și modurile de administrare a Cookie-urilor pot fi
      găsite în zona de setari a aplicației (browser-ului web). Limitarea
      folosirii Cookie-urilor poate afecta anumite funcționalități ale
      www.claudiusgoldcoins.com. Cookie-urile reprezintă punctul central al
      funcționării eficiente a Internetului, ajutând la generarea unei
      experiențe de navigare prietenoase și adaptate preferințelor și
      intereselor fiecărui utilizator. Refuzarea sau dezactivarea cookieurilor
      poate face unele site-uri imposibil de folosit. Datorită flexibilității
      lor și a faptului că majoritatea dintre cele mai vizitate site-uri si cele
      mai mari folosesc cookieuri, acestea sunt aproape inevitabile;
      dezactivarea cookie-urilor nu va permite accesul utilizatorului la anumite
      funcționalități ale site-ului. De exemplu, blocarea anumitor cookie-uri vă
      poate împiedica să cumpărați online, să vă autentificați în contul
      dumneavoastră, etc. Cu toate acestea, în cazul în care vă doriți blocarea
      cookie-urilor, urmați instrucțiunile de mai jos. Cele mai multe browsere
      sunt setate implicit să accepte cookie-uri, dar aveți posibilitatea să
      modificați setările sau să blocați anumite cookie-uri. Mai multe
      informații despre modalitatea de blocare a cookie-urilor în funcție de
      browser-ul folosit puteți găsi accesând link-ul alăturat:
    </p>
    <ul>
      <li>
        <a
          href="https://support.microsoft.com/en-us/topic/description-of-cookies-ad01aa7e-66c9-8ab2-7898-6652c100999d"
          >Microsoft Cookies guide</a
        >
      </li>
      <li>
        <a href="https://allaboutcookies.org/">All About Cookies</a>
      </li>
      <li>
        <a href="https://www.youronlinechoices.com/ro/"
          >https://www.youronlinechoices.com/ro/</a
        >
      </li>
    </ul>
  </ol>
</div>
