<main class="contact-page">
  <h1 class="page-title">Contact</h1>
  <div class="container">
    <section class="left">
      <article class="left-section">
        <h2 class="section-title">Locație</h2>
        <a
          href="https://www.google.com/maps/place/Claudius+Gold+Coins+%26+Amanet/@45.8711126,22.9105415,17z/data=!4m6!3m5!1s0x474ef3f09fe9f1e7:0x5bbb7d4af53a6600!8m2!3d45.8711126!4d22.9105415!16s%2Fg%2F11lgsdmhqv?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D"
          aria-label="Vizualizați locația pe Google Maps"
        >
          <address class="info">
            Strada 22 Decembrie<br />
            Bl. 4, Sc. D, Parter<br />
            DEVA - 330037, Romania
          </address>
        </a>
      </article>

      <article class="left-section">
        <h2 class="section-title">Program</h2>
        <div class="info">
          <p>
            <time datetime="Mo-Fr 09:00-18:00">Luni - Vineri: 9:00-18:00</time
            ><br />
            <time datetime="Sa 09:00-14:00">Sâmbătă: 9:00-14:00</time><br />
            <time datetime="Su">Duminică: Închis</time>
          </p>
        </div>
      </article>

      <article class="left-section">
        <h2 class="section-title">Contactare</h2>
        <div class="info">
          <p class="contact-field">
            <img
              src="assets/icons/phone.svg"
              width="20"
              height="20"
              alt="Iconiță telefon"
              aria-hidden="true"
            />
            <a
              href="tel:+40768691703"
              aria-label="Sunați la numărul 0768 691 703"
            >
              +40768691703
            </a>
          </p>
          <p class="contact-field">
            <img
              src="assets/icons/mail.svg"
              width="20"
              height="20"
              alt="Iconiță email"
              aria-hidden="true"
            />
            <a
              href="mailto:claudiusgoldcoins@yahoo.com"
              aria-label="Trimiteți email la claudiusgoldcoins@yahoo.com"
            >
              claudiusgoldcoins&#64;yahoo.com
            </a>
          </p>
          <p class="contact-field">
            <img
              src="assets/icons/facebook.svg"
              width="20"
              height="20"
              alt="Iconiță Facebook"
              aria-hidden="true"
            />
            <a
              href="https://www.facebook.com/profile.php?id=100063605379786"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Vizitați pagina noastră de Facebook"
            >
              Amanet Deva Cleopatra Gold
            </a>
          </p>
        </div>
      </article>
    </section>

    <section class="right">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2778.009846178316!2d22.9105415!3d45.8711126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474ef3f09fe9f1e7%3A0x5bbb7d4af53a6600!2sClaudius%20Gold%20Coins%20%26%20Amanet!5e0!3m2!1sen!2sro!4v1740770239064!5m2!1sen!2sro"
          title="Harta locației Claudius Gold Coins & Amanet"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </section>
  </div>
</main>
