
<h1>
    CONTACT
</h1>
<div class="container">
    <div class="left">
        <div class="left-section">
            <h2>
                Locație
            </h2>
            <a href="https://www.google.com/maps/place/Claudius+Gold+Coins+%26+Amanet/@45.8711126,22.9105415,17z/data=!4m6!3m5!1s0x474ef3f09fe9f1e7:0x5bbb7d4af53a6600!8m2!3d45.8711126!4d22.9105415!16s%2Fg%2F11lgsdmhqv?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D">
                <p class="info">
                    Strada 22 Decembrie
                    Bl. 4, Sc. D, Parter, DEVA - 330037, Romania
                </p>
            </a>
        
        </div>
        <div class="left-section">
            <h2>
                Program
            </h2>
                <p class="info">
                    Luni - Vineri:  9:00-18:00

                    Sambata;  9:00-14:00
                    
                    Duminica:  Inchis
                </p>
           
        </div>
        <div class="left-section">
            <h2>
                Contactare
            </h2>
                <div class="info">
                    <p class="contact-field">
                        <img src="assets/icons/phone.svg" style="width: 20px;" alt="phone-icon"/>
                        +<a href="tel:+40768691703">40768691703</a>
                    </p>
                    <p class="contact-field">
                        <img src="assets/icons/mail.svg" style="width: 20px;" alt="mail-icon"/>
                        <a href="mailto:claudiusgoldcoins@yahoo.com" target="_self">claudiusgoldcoins&#64;yahoo.com</a>
                    </p>
                    <p class="contact-field">
                        <img src="assets/icons/facebook.svg" style="width: 20px;" alt="facebook-icon"/>
                        <a href="https://www.facebook.com/profile.php?id=100063605379786" target="_blank" rel="noreferrer noopener">Amanet Deva Cleopatra Gold</a>
                    </p>
                </div>
           
        </div>
    </div>
    <div class="right">
        <div class="map">
            <iframe  
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2778.009846178316!2d22.9105415!3d45.8711126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474ef3f09fe9f1e7%3A0x5bbb7d4af53a6600!2sClaudius%20Gold%20Coins%20%26%20Amanet!5e0!3m2!1sen!2sro!4v1740770239064!5m2!1sen!2sro" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
