<div role="main">
  <h1>POLITICA DE CONFIDENȚIALITATE</h1>
  <p>POLITICA DE CONFIDENȚIALITATE A DATELOR PERSONALE</p>
  <section aria-labelledby="data-privacy">
    <p id="data-privacy">
      Confidențialitatea datelor este extrem de importantă pentru
      <b>CLAUDIUS GOLD COINS S.R.L.</b> și ne dorim să fim cât mai transparenți
      și deschiși în privința prelucrării datelor cu caracter personal. Prin
      urmare, am adoptat politica conform căreia se definește modul de
      prelucrare și de protejare a datelor dumneavoastră personale.
    </p>
  </section>
  <section aria-labelledby="data-operator">
    <p id="data-operator">
      Operatorul datelor cu caracter personal
      <b>CLAUDIUS GOLD COINS S.R.L.</b> este operatorul datelor cu caracter
      personal pe care ni le furnizați iar acesta răspunde de datele
      dumneavoastră cu caracter personal în conformitate cu legislatia
      aplicabila privind protectia datelor: articolul 6 paragraful 1 aliniatul
      b) Reglementare 2016/679 aparținând Parlamentului European și Consiliului
      privind protecția persoanelor fizice în ceea ce privește prelucrarea
      datelor cu caracter personal și privind libera circulație a acestor date
      și de abrogare a Directivei 95/46/CE (regulamentul general privind
      protecția datelor cu caracter personal).
    </p>
  </section>
  <section aria-labelledby="data-access">
    <p id="data-access">
      <b>Cine are acces la datele dumneavoastră?</b>
    </p>
    <p>
      Datele dumneavoastră pot fi transmise în cadrul
      <b>CLAUDIUS GOLD COINS S.R.L.</b> Nu transmitem, nu vindem și nu cedăm
      terților datele dumneavoastră în scopuri de marketing în afara companiei
      <b>CLAUDIUS GOLD COINS S.R.L.</b> Datele transmise unor terți sunt
      utilizate numai pentru a vă oferi serviciile noastre. Veți găsi
      categoriile de terți în cadrul fiecărui proces specific. Suntem parteneri
      Microsoft Clarity și Microsoft Advertising pentru a analiza modul în care
      consumatorii interacționează cu site-ul nostru prin metrici de
      comportament, hărți termice și înregistrări video sesiuni utilizatori și
      pentru a îmbunătăți și marketiza produsele și serviciile noastre.
    </p>
  </section>
  <section aria-labelledby="data-usage">
    <p id="data-usage">
      Datele de utilizare ale site-ului sunt înregistrate folosind module
      cookies principale sau terțe și alte tehnologii de urmărire pentru a
      determina popularitatea produselor și serviciilor, dar și prezența online.
      În plus, folosim aceste informații pentru optimizarea site-ului, scopuri
      de securitate și anti-fraudă, dar și marketing. Pentru mai multe
      informații despre politica Microsoft de colectare și folosire a datelor,
      vizitează Microsoft Privacy Statement.
    </p>
  </section>
  <section aria-labelledby="legal-basis">
    <p id="legal-basis">
      <b>Temeiul legal pentru prelucrarea datelor.</b>
    </p>
    <p>
      Pentru fiecare prelucare specifică a datelor cu caracter personal
      colectate de la dumneavoastră, vă vom informa dacă furnizarea datelor cu
      caracter personal este impusă de reglementări sau dacă este necesară
      pentru a încheia un contract, dacă este obligatoriu să ne furnizați datele
      cu caracter personal și care sunt posibilele consecințe în cazul în care
      refuzați.
    </p>
  </section>
  <section aria-labelledby="data-storage">
    <p id="data-storage">
      <b>Unde se stochează datele?</b>
    </p>
    <p>
      Datele colectate de la dumneavoastră sunt stocate în Spațiul Economic
      European (SEE), dar pot fi, de asemenea, transferate și prelucrate într-o
      țară din afara SEE. Orice transfer de acest fel al datelor dumneavoastră
      cu caracter personal se va realiza în conformitate cu legislația în
      vigoare, fiind în siguranță și permanent monitorizate. În cazul
      transferurilor de date în afara SEE,
      <b>SC CLAUDIUS GOLD COINS S.R.L.</b> va utiliza clauzele contractuale
      standard și Privacy Shield ca garanții pentru țările care duc lipsă de o
      decizie privind caracterul adecvat al protecției din partea Comisiei
      Europene.
    </p>
  </section>
  <section aria-labelledby="commercial-offers">
    <p id="commercial-offers">
      <b>Veți primi oferte comerciale?</b>
    </p>
    <p>
      În conformitate cu alegerile făcute de dumneavoastră, vom putea folosi
      datele de contact pentru a vă trimite oferte comerciale, prin e-mail,
      poștă sau telefon.
    </p>
  </section>
  <section aria-labelledby="user-rights">
    <p id="user-rights">
      <b>Drepturile dumneavoastră!</b>
    </p>
    <ul>
      <li>Dreptul la acces</li>
      <p>
        Aveți dreptul de a solicita informații cu privire la datele cu caracter
        personal pe care le deținem despre dumneavoastră. Puteți contacta
        <b>CLAUDIUS GOLD COINS S.R.L.</b> care vă va furniza datele cu caracter
        personal prin e-mail.
      </p>
      <li>Dreptul la portabilitate</li>
      <p>
        De fiecare dată când <b>CLAUDIUS GOLD COINS S.R.L.</b> vă prelucrează
        datele cu caracter personal prin mijloace automate în baza acordului
        dumneavoastră sau în baza unui acord, aveți dreptul să obtineți
        transferul unei copii a datelor dumneavoastră către dumneavoastră sau
        către o altă adresa. Acesta include numai datele cu caracter personal pe
        care ni le-ați transmis.
      </p>
      <li>Dreptul la rectificare</li>
      <p>
        Aveți dreptul să solicitați rectificarea datelor dumneavoastră cu
        caracter personal, dacă acestea sunt incorecte, inclusiv dreptul de a
        completa datele cu caracter personal incomplete. Dacă aveți un cont pe
        <b>CLAUDIUS GOLD COINS S.R.L.</b>, puteți să vă actualizați datele cu
        caracter personal din contul dumneavoastră.
      </p>
      <li>Dreptul la ștergerea datelor</li>
      <p>
        Aveți dreptul să ștergeți oricând orice date cu caracter personal
        prelucrate de <b>CLAUDIUS GOLD COINS S.R.L.</b>, cu excepția
        următoarelor situații: aveți o solicitare nerezolvată la Serviciul
        Clienți aveți o comandă deschisă care nu a fost expediată sau doar
        parțial expediată aveți o datorie neplătită către CLAUDIUS GOLD COINS
        SRL dacă există banuială sau ați folosit serviciile noastre în mod
        abuziv în ultimii patru ani dacă ați efectuat o achiziție, vom păstra
        datele dumneavoastră cu caracter personal în legătură cu tranzacția
        dumneavoastră conform legislației de contabilitate.
      </p>
      <li>Dreptul de a vă opune prelucrării bazate pe interes legitim</li>
      <p>
        Aveți tot dreptul să vă opuneți prelucrării datelor dumneavoastră cu
        caracter personal bazate pe interesul legitim în
        <b>CLAUDIUS GOLD COINS S.R.L.</b>.
      </p>
      <p>
        <b>CLAUDIUS GOLD COINS S.R.L.</b> nu va continua să prelucreze datele cu
        caracter personal decât dacă putem demonstra un motiv legitim pentru
        prelucrare care prevalează asupra intereselor și drepturilor
        dumneavoastră sau în baza unor proceduri judiciare.
      </p>
      <li>Dreptul de a vă opune marketingului direct</li>
      <p>
        Aveți tot dreptul de a vă opune marketingului direct, inclusiv analizei
        profilului în scopuri de marketing direct. Când doriți, vă puteți
        dezabona de la marketingul direct prin urmatoarele mijloace: urmând
        instrucțiuni din fiecare e-mail de marketing modificând setările
        contului dumneavoastră
        <b>CLAUDIUS GOLD COINS S.R.L.</b> solicitând acest lucru către serviciul
        nostru de clienți
      </p>
      <li>Dreptul la restricționare a prelucrării</li>
      <p>
        Aveți dreptul să solicitați ca <b>CLAUDIUS GOLD COINS S.R.L.</b> să
        restricționeze procesul de prelucrare a datelor dumneavoastră cu
        caracter personal în următoarele situații: dacă vă opuneți prelucrării
        în baza interesului legitim în <b>CLAUDIUS GOLD COINS S.R.L.</b>, acesta
        va restricționa orice prelucrare a acestor date până la confirmarea
        interesului legitim.
      </p>
      <p>
        Dacă afirmați ca datele dumneavoastră cu caracter personal sunt
        incorecte,
        <b>CLAUDIUS GOLD COINS S.R.L.</b> trebuie să restricționeze orice
        prelucrare a acestor date până la verificarea corectitudinii datelor cu
        caracter personal. dacă prelucrarea este ilegală, puteți să vă opuneți
        ștergerii datelor cu caracter personal și să solicitați restricționarea
        utilizării datelor dumneavoastră cu caracter personal.
      </p>
      <p>
        Dacă <b>CLAUDIUS GOLD COINS S.R.L.</b> nu mai are nevoie de datele
        dumneavoastră cu caracter personal, dar acestea sunt necesare pentru a
        vă apăra drepturile în instanță.
      </p>
      <li>Dreptul de a depune o plângere la o autoritate de supraveghere</li>
      <p>
        Dacă sunteți de părere că CLAUDIUS GOLD COINS vă prelucrează datele cu
        caracter personal într-un mod incorect, ne puteți contacta. De asemenea,
        aveți dreptul să adresați o plângere unei autorități de supraveghere
        (ANSPDCP).
      </p>
      <p>
        ANSPDCP: .Controlorul datelor personale CLAUDIUS GOLD COINS – Societatea
        <b>CLAUDIUS GOLD COINS S.R.L.</b>, cu sediul social în Str. Iosif
        Vulcan, nr. 158, mun. Deva, Jud. Hunedoara, înregistrată la Registrul
        Comerțului sub nr. J20/439/2020, cod fiscal RO 42538472.
      </p>
    </ul>
  </section>
</div>
