<h1>DESPRE NOI</h1>

<div>
  <h3>NIHIL SINE DEO!</h3>
  <p>
    Iubesc arta prin care sunt făurite monedele, cu cât o monedă este mai veche
    cu atât poate fi mai frumoasă și mai valoroasă.
  </p>
  <p>
    Un lucru foarte important, o monedă mică poate valora foarte mult de aceea
    încercăm să identificăm fiecare monedă, să-i determinăm gradul de raritate,
    să-i determinăm valoarea pentru a nu fi topită sau distrusă și să o
    comercializăm spre un colecționar care să o aprecieze pentru adevărata ei
    valoare numismatică.
  </p>
</div>
<h2>EXEMPLE</h2>
<hr />
<div class="container" role="list" aria-label="Exemple de imagini">
  <div>
    @for (number of numbers; track $index) {

    <img
      class="about-image"
      src="assets/about/{{ number }}.jpg"
      alt="Imagine despre Claudius Gold Coins numărul {{ number }}"
      role="listitem"
    />

    }
  </div>
</div>
