h1 {
  text-align: center;
  font-size: 7vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 5vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-weight: bold;
}

div h3 {
  font-size: 5vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
  font-weight: 700;
}

div p {
  margin-bottom: 5vh;
  margin-top: 5vh;
  line-height: 1.6; /* Improved readability */
}

hr {
  height: 3px;
  background-color: black;
  border: none;
  opacity: 1;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Ensures responsiveness */
  width: 100%;
  margin-bottom: 30px;
}

.about-image {
  width: 175px;
  height: 150px;
  margin: 20px;
  object-fit: cover;
  border-radius: 8px; /* Adds a modern touch */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visuals */
}
