<div class="content">
    <div class="title">
        Conectează-te
    </div>
        <div class="login-container">
            <form action="#" method="POST">
                
                <div class="form-group">
                    <label>E-mail</label>
                    <input class="form-input" type="email" required>       
                </div>
                <div class="form-group">
               <label>
                    Parolă
                </label>
                <input class="form-input" type="password" required>
               
                </div>
                <button class="login" type="submit">Login</button>
            </form>
    
        Nu ai cont?
        <a routerLink="/register" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="register-link">
            Înregistrează-te
        </a>
    </div>
    <div class="horisontal-lines">
        sau
    </div>
    <div class="social-login">
        
        <button class="google-btn">
            <img src="assets/icons/google.svg" class="partner-logo" alt="google-icon"/>
            Conectează-te cu Google
        </button>
        <button class="facebook-btn">
            <img src="assets/icons/facebook.svg" class="partner-logo" alt="facebook-color-icon"/>
            Conectează-te cu Facebook
        </button>
    </div>
   
    
</div>