@import "@styles/styles.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: rgb(233, 233, 233);
  color: white;
  padding: 20px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  box-sizing: border-box;
  background: none;
  height: 50px;
  line-height: 50px;
  border: none;
  padding: 5px;
  font-size: 24px;
  color: black;
  width: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex; /* Ensures the content is included in the clickable area */
  align-items: center;
  justify-content: center;
}

.navbar {
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
      position: relative;
      margin-bottom: 10px;

      .menu-link {
        text-decoration: none;
        color: black;
        font-size: 20px;
        display: block;
        padding: 10px;
        cursor: pointer;
      }

      // Dropdown Menu (Initially Hidden)
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 0%; // Ensures it appears directly below the menu item
        left: 20%;
        background: #444;
        list-style: none;
        padding: 5px;
        min-width: 200px;
        z-index: 1000; // Ensure it's above other elements
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .dropdown-item {
          padding: 8px 15px;
          text-decoration: none;
          display: block;
          color: white;

          &:hover {
            background-color: #555;
          }
        }
      }

      // Show dropdown on hover
      &:hover .dropdown-menu {
        display: block;
      }
    }
  }
}
