<script src="https://accounts.google.com/gsi/client" async></script>
<button
  (click)="goBack()"
  class="back-button"
  aria-label="Go back to the previous page"
>
  &#8592; Back
</button>
<div class="content" role="main">
  <div class="title" aria-label="Register">înregistrează-te</div>
  <div class="login-container" aria-labelledby="register-form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="register-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-input"
          aria-required="true"
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="error"
        >
          <small *ngIf="registerForm.get('email')?.errors?.['required']"
            >Emailul este obligatoriu</small
          >
          <small *ngIf="registerForm.get('email')?.errors?.['email']"
            >Format invalid.</small
          >
        </div>
      </div>

      <div class="form-group">
        <label for="password">Parolă</label>
        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-input"
            aria-required="true"
          />
          <button
            type="button"
            class="eye-btn"
            (click)="togglePasswordVisibility()"
            aria-label="Toggle password visibility"
          >
            <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </button>
        </div>
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="error"
        >
          <small *ngIf="registerForm.get('password')?.errors?.['required']"
            >Parola este obligatorie</small
          >
          <small *ngIf="registerForm.get('password')?.errors">
            {{ registerForm.get('password')?.errors?.['passwordStrength'] }}
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmă Parola</label>
        <div class="password-wrapper">
          <input
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            class="form-input"
            aria-required="true"
          />
          <button
            type="button"
            class="eye-btn"
            (click)="toggleConfirmPasswordVisibility()"
            aria-label="Toggle confirm password visibility"
          >
            <i
              [class]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
            ></i>
          </button>
        </div>
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="error"
        >
          <small
            *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"
            >Confirmarea parolei este obligatorie</small
          >
          <div
            *ngIf="registerForm.get('confirmPassword')?.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched"
          >
            Parolele nu coincid.
          </div>
        </div>
      </div>

      <div class="form-group">
        <re-captcha
          formControlName="recaptcha"
          [siteKey]="captchaKey"
          aria-label="Recaptcha verification"
        ></re-captcha>
        <div
          *ngIf="
            registerForm.get('recaptcha')?.invalid &&
            registerForm.get('recaptcha')?.touched
          "
          class="error"
        >
          <small>Recaptcha este obligatoriu.</small>
        </div>
      </div>

      <button
        type="submit"
        class="login"
        [disabled]="registerForm.invalid"
        aria-label="Submit registration form"
      >
        Înregistrează-te
      </button>
    </form>

    <p>Ai deja cont?</p>
    <a
      routerLink="/register"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="register-link"
      (click)="navigateAndRefresh()"
      aria-label="Navigate to login page"
    >
      Conectează-te
    </a>
  </div>
  <div class="horisontal-lines" aria-hidden="true">sau</div>
  <div id="google-signup-button" aria-label="Google signup button"></div>
</div>
