<div class="container mt-4" role="main">
  <h3 aria-label="Orders Table">{{ title }}</h3>

  <input
    type="text"
    class="form-control mb-2"
    placeholder="Search orders"
    (input)="applyFilter($event)"
    aria-label="Search orders"
  />

  <table class="table table-bordered" aria-label="Orders Table">
    <thead>
      <tr>
        <th (click)="sortData('id')" scope="col" aria-label="Sort by Order ID">
          Order ID
        </th>
        <th
          (click)="sortData('user.name')"
          scope="col"
          aria-label="Sort by User ID"
        >
          User ID
        </th>
        <th
          (click)="sortData('product.name')"
          scope="col"
          aria-label="Sort by Product Name"
        >
          Nume produs
        </th>
        <th
          (click)="sortData('product.category')"
          scope="col"
          aria-label="Sort by Category"
        >
          Categorie
        </th>
        <th
          (click)="sortData('product.price')"
          scope="col"
          aria-label="Sort by Price"
        >
          Preț(euro)
        </th>
        <th scope="col">Price Modifier(%)</th>
        <th
          (click)="sortData('finalPrice')"
          scope="col"
          aria-label="Sort by Final Price"
        >
          Preț Final(euro)
        </th>
        <th
          (click)="sortData('status')"
          scope="col"
          aria-label="Sort by Status"
        >
          Status
        </th>
        <th scope="col">Adresă</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of paginatedOrders">
        <td>{{ order.id }}</td>
        <td>{{ order.user.name }}</td>
        <td>{{ order.product.name }}</td>
        <td>{{ order.product.category }}</td>
        <td>{{ order.product.price }}</td>
        <td>{{ order.product.priceModifier }}</td>
        <td>{{ order.finalPrice }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.address }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav aria-label="Pagination">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button
          class="page-link"
          (click)="previousPage()"
          aria-label="Go to previous page"
        >
          Previous
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let page of totalPagesArray"
        [class.active]="page === currentPage"
      >
        <button
          class="page-link"
          (click)="goToPage(page)"
          [attr.aria-label]="'Go to page ' + page"
        >
          {{ page }}
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button
          class="page-link"
          (click)="nextPage()"
          aria-label="Go to next page"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
